@use '../abstracts' as *;

@each $size-name, $size-value in $sizes {
  .m {
    &-#{$size-name} {
      margin: $size-value;
    }
    &-y-top-#{$size-name} {
      margin-block-start: $size-value;
    }
    &-y-bottom-#{$size-name} {
      margin-block-end: $size-value;
    }
    &-y-#{$size-name} {
      margin-block: $size-value;
    }
    &-x-top-#{$size-name} {
      margin-inline-start: $size-value;
    }
    &-x-bottom-#{$size-name} {
      margin-inline-end: $size-value;
    }
    &-x-#{$size-name} {
      margin-inline: $size-value;
    }
  }
  .p {
    &-#{$size-name} {
      padding: $size-value;
    }
    &-y-top-#{$size-name} {
      padding-block-start: $size-value;
    }
    &-y-bottom-#{$size-name} {
      padding-block-end: $size-value;
    }
    &-y-#{$size-name} {
      padding-block: $size-value;
    }
    &-x-top-#{$size-name} {
      padding-inline-start: $size-value;
    }
    &-x-bottom-#{$size-name} {
      padding-inline-end: $size-value;
    }
    &-x-#{$size-name} {
      padding-inline: $size-value;
    }
  }
}
